h3{
    font-size: 10px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-family: cursive;
}
button{
    font-size: 20px;
    color: black;
    background-color: rgb(21, 226, 226);
    cursor: pointer;
    padding: 4px 15px;
    border: solid 1px #000b2b;
}
button:hover{
    color: white;
    background-color: thistle;
}
input{
    height: 25px;
    width: 200px;
    background-color: whitesmoke;
    border: black solid 1px;
}

label{
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#taça{
    float: right;
    width: 400px;
    height: 300px;
    text-align: center;
    margin-top: -40px;
    margin-right: 40px;
    border-radius: 3em;
}
section{
    margin-left: 12px;
}
#informaçoes{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    font-size: 35px;
    font-family: fantasy;
}
header{
    background-image: url("Aurora\ boreal.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -100px;
    margin-bottom: 50px;
    padding-bottom: 5px;
}
h5{
        text-align: center;
        font-size: 60px;
        color:rgb(219, 217, 217);
        font-family:fantasy;
}
body{
    background-color: rgb(106, 195, 223);
}
main{
    background-color: rgb(193, 223, 233);
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 10px;
}
a{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 10px 5px;
    margin: 20px;
    background-color:rgb(255, 169, 216);
    color: rgb(141, 61, 61);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    text-decoration:none;
    text-decoration-color: aquamarine;
}
ul{
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
ul2{
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
ul3{
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
img{ 
    width: 25cm;
    height: 12cm;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 30px;
    margin-top: 40px;
    border-radius: 3em;
}