h3{
    font-size: 10px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-family: cursive;
}
button{
    font-size: 20px;
    color: black;
    background-color: rgb(21, 226, 226);
    cursor: pointer;
    padding: 4px 15px;
    border: solid 1px #000b2b;
}
button:hover{
    color: white;
    background-color: thistle;
}
input{
    height: 25px;
    width: 200px;
    background-color: whitesmoke;
    border: black solid 1px;
}

label{
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#taça{
    float: right;
    width: 400px;
    height: 300px;
    text-align: center;
    margin-top: -40px;
    margin-right: 40px;
    border-radius: 3em;
}
section{
    margin-left: 12px;
}
#informaçoes{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    font-size: 35px;
    font-family: fantasy;
}
header{
    background-image: url("../CSS/206740.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -100px;
    margin-bottom: 50px;
    padding-bottom: 5px;
}
h5{
        text-align: center;
        font-size: 60px;
        color:rgb(219, 217, 217);
        font-family:fantasy;
}
body{
    background-color: yellow;
}
main{
    background-color: rgb(255, 255, 60);
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 10px;
}
h4{
    text-align: justify;
    font-family:cursive;
    font-size: 22px;
}
img{ 
    width: 25cm;
    height: 12cm;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 30px;
    margin-top: 40px;
    border-radius: 1em;
}